.cartItemQuantity {
    display: flex;
    text-align: center;
    font-size: 22px;
    justify-content: center;
}

.itemQuantity {
    border: 1px solid #efefef;
    box-shadow: 1px 1px #efefef;
    padding: 5px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
}

.button {
    margin: 5px 10px;
    cursor: pointer;
}

.button:hover {
    font-weight: bold;
}